html {
	min-height: 100%;
}
* {
	font-family: "Times New Roman", Times, serif;
}

table {
	width: 50vw;
	margin-left: 50px;
	border-collapse: collapse;
	background-color: #cac9c9fa;
	font-size: 17px;
	color: rgb(61, 60, 60);
	border-radius: 10px 10px 0 0;

	@media (max-width: 768px) {
		font-size: 12px;
	}
}

.topTable {
	margin-top: 5rem;
}

.bottomTable {
	margin-bottom: 10rem;
}

thead th {
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.1),
		rgba(0, 0, 0, 0.5)
	);
	font-style: italic;
}

.MainTable {
	margin-top: 45px;
	margin-left: -330px;
}

.name {
	width: 250px;
}

td {
	font-size: 18px;
	line-height: 1.6;
	padding: 5px 0 5px 15px;

	@media (max-width: 768px) {
		font-size: 10px;
	}
}

.row {
	border: 1px solid grey;
}

thead th {
	height: 50px;
	width: 5px;
	padding: 10px;
}

@media all and (max-width: 1024px) {
	td {
		font-size: 20px;
		text-align: center;
		padding: 5px 3px 5px 10px;
	}

	table {
		margin-left: -2rem;
		width: 68vw;
	}
}

@media all and (max-width: 768px) {
	td {
		font-size: 11px;
		text-align: center;
		padding: 5px 3px 5px 10px;
	}

	table {
		font-size: 11px;
		margin-left: 23.7rem;
		padding: 0;
		width: 70vw;
	}
	thead th {
		height: 30px;
		padding: 6.5px;
	}

	.name {
		width: 200px;
	}

	.MainTable {
		margin-top: -2.5rem;
		margin-bottom: 5rem;
	}
}

@media all and (max-width: 450px) {
	td {
		font-size: 10px;
		text-align: center;
		padding: 5px 3px 5px 10px;
	}

	table {
		font-size: 11px;
		margin-left: 20rem;
		padding: 0;
		width: 70vw;
	}
	thead th {
		height: 10px;
		padding: 6.5px;
	}

	.name {
		width: 200px;
	}

	.MainTable {
		margin-top: -2.5rem;
		margin-bottom: 5rem;
	}
}

@media all and (max-width: 450px) {
	table {
		margin-left: 20rem;
	}

	.MainTable {
		margin-top: -2.5rem;
		margin-bottom: 5rem;
	}
}

@media all and (max-width: 380px) {
	table {
		margin-left: 19rem;
	}

	.MainTable {
		margin-top: -2.5rem;
		margin-bottom: 5rem;
	}
	td {
		font-size: 8px;
	}
}
